body{
    margin: 0;
}

.container{
    
}

.top{
    background-color: white;
    padding: 15px
}
.top h4{
    font-size: 17px;
    font-weight: bold;
    text-align: center;
    margin: 0 0 15px 0;
}
.top h5{
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    margin: 15px 0;
}
.top h3{
    font-size: 21px;
    font-weight: bold;
    text-align: center;
    margin: 15px 0 0 0;
}



.workspace{
    height: calc(100vh - 158px);
    background-color: black;
    display: flex;
    justify-content: center;
}



.workspace > div:first-child{
    width: 50%;
    overflow-y: scroll;
}
.workspace > div:first-child > h3{
    text-align: center;
    font-size: 24px;
    color: white;
    font-weight: bold;
    color: #00fff3;
}
.objects-container{
    padding: 0 4%;
}
.objects-container .object{
    margin: 15px;
}
.objects-container .object h5{
    font-size: 16px;
    font-weight: bold;
    color: white;
    margin: 10px 0;
    margin-top: 50px;
    color: #00fff3;
}
.objects-container .object p{
    font-size: 15px;
    color: white;
    margin: 10px 0;
    margin-left: 8px;
}
.objects-container .object p span{
    font-weight: bold;
}
.eliminar-objeto{
    color: red;
    font-size: 15px;
    margin: 10px 0;
    margin-left: 8px;
    cursor: pointer;
}

.replicar-objeto{
    color: red;
    font-size: 15px;
    margin: 10px 0;
    margin-left: 8px;
    cursor: pointer;
}




.workspace > div:last-child{
    width: 50%;

}
.workspace > div:last-child > h3{
    text-align: center;
    font-size: 24px;
    color: white;
    font-weight: bold;
    color: #00fff3;
    margin-bottom: 50px;
}
.create-objects-container{
    padding: 0 4%;
}
.create-objects-container .input-row{
    width: 100%;
    display: flex;
    justify-content: left;
    align-items: center;
    margin-bottom: 20px;
}
.create-objects-container .input-row input{
    width: 36%;
    margin-right: 20px;
}
.workspace > div:last-child > p{
    font-size: 18px;
    color: #00fff3;
    margin-bottom: 50px;
    margin-left: 4%;
    cursor: pointer;
}